* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: url('https://picsum.photos/1920/1080');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    border: 1px solid #000;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 25em auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

.botoes {
    text-align: center;
    padding: 10px;
    background-color: #d0f398;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

button {
    cursor: pointer;
    padding: 30px;
    font-size: 50px;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

#rock {
    background-color: rgb(87, 40, 7);
}

#paper {
    background-color: rgb(18, 50, 232);
}

#scissors {
    background-color: rgb(140, 16, 206);
}

.alexa {
    color: red;
}

.pointer {
    color: blue;
}

p {
    font-family: "Geist Pixel", sans-serif;
    font-weight: bold;
}

.menu {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
}